  <div class="pad1 white">
    <h1>Lint Result</h1>
      {{#with alertSummary}}
    <div class="clearfix">
      <div class="fl pad1y space-right2">
        <span class="strong">{{errors}}</span>
        <span class="quiet">Errors</span>
      </div>
      <div class="fl pad1y space-right2">
        <span class="strong">{{warnings}}</span>
        <span class="quiet">Warnings</span>
      </div>
      {{/with}}
      {{#with fileSummary}}
      <div class="fl pad1y space-right2">
        <span class="strong">4.17%</span>
        <span class="quiet">Files with errors</span>
        <span class="fraction">{{errors}}/24</span>
      </div>
      <div class="fl pad1y space-right2">
        <span class="strong">0.00%</span>
        <span class="quiet">Files with only warnings</span>
        <span class="fraction">{{warnings}}/24</span>
      </div>
    </div>
      {{/with}}
  </div>
  <div class="status-line low">
  </div>
